{% extends('base.html.twig') %}

{% block body %}
    <br>
    <h2 style="text-align: center;">Categories</h2>
    <br>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <a class="btn btn-success" style="float: right;" href="{{ path('category.create') }}">Add Category</a>
    <br><br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.title }}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{{ path('category.edit', {id: category.id}) }}">Edit</a>
                    <a class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this category ?')" href="{{ path('category.delete', {id: category.id}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
